---
pdf: true
---

%h1 {{ site.data.actress.name }}

%h2 Dados Pessoais

%table
  %tbody
    %tr
      %th DRT
      %td {{ site.data.actress.drt }}
    %tr
      %th Localidade
      %td {{ site.data.actress.city }} / {{ site.data.actress.state }}
    %tr
      %th Telefone
      %td {{ site.data.actress.phone }}
    %tr
      %th E-mail
      %td {{ site.data.actress.email }}

%h2 Formação Artística

%table
  %thead
    %tr
      %th Nome
      %th Duração
      %th Data

  %tbody

  {% for course in site.data.actress.courses %}
  {% if course.rating >= 3 %}
    %tr
      %td {{ course.name }}
      %td {{ course.duration }}
      %td {{ course.date }}
  {% endif %}

{% endfor %}

%h2 Trabalhos Realizados

%table
  %thead
    %tr
      %th Tipo
      %th Nome
      %th Direção
      %th Duração
      %th Data

  %tbody

  {% for work in site.data.actress.works %}
  {% if work.rating >= 3 %}
    %tr
      %td {{ work.type }}
      %td {{ work.name }}
      %td {{ work.duration }}
      %td {{ work.director }}
      %td {{ work.date }}
  {% endif %}

{% endfor %}
