@import 'bourbon/bourbon'

$white: hsl(0,0,96)
$black: hsl(0,0,15)
$u: 25px

+font-face('Cousine for Powerline', 'CousineForPowerline',            normal, normal, $asset-pipeline: true, $file-formats: eot woff ttf)
+font-face('Cousine for Powerline', 'CousineForPowerline-Bold',       bold,   normal,   $asset-pipeline: true, $file-formats: eot woff ttf)
+font-face('Cousine for Powerline', 'CousineForPowerline-BoldItalic', bold,   italic,   $asset-pipeline: true, $file-formats: eot woff ttf)
+font-face('Cousine for Powerline', 'CousineForPowerline-Italic',     normal, italic, $asset-pipeline: true, $file-formats: eot woff ttf)

$body-font: 'Cousine for Powerline'
$title-font: 'CactusLight'

=mobile
  @media (max-width: 720px)
    @content
*
  box-sizing: border-box

body
  background-color: $white
  margin: 0
  line-height: $u
  font-size: $u / 1.4
  font-family: $body-font
  display: flex
  padding: 0 2 * $u
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

  +mobile
    padding: 0 $u
    position: relative
    display: block

  > *
    flex: 1 0 0

  > .left-column
    flex-grow: 30
    min-width: 14 * $u

    +mobile
      display: none

  > .right-column
    flex-grow: 70

    section
      width: 100%
      position: relative

      &::after
        display: table
        clear: both
        content: ""

      + section
        padding: (4 * $u) 0

        +mobile
          padding-top: (2 * $u)

p
  max-width: 30 * $u

main
  padding-bottom: 10 * $u

h1.logo
  width: 12 * $u
  height: 4 * $u
  position: relative

  *
    color: hsla(0,0,0,0)

nav
  top: 30%
  position: fixed
  z-index: 5

  & > *
    margin: $u/2 0
  a
    display: block
    text-decoration: none

  svg
    left: 0
    top: 0
    position: absolute


h1, h2, h3, h4, h5
  margin: 0
  padding: 0
  line-height: 1

h2
  margin-bottom: $u * 2
  font-family: $title-font
  font-size: 3 * $u
  text-transform: uppercase

  +mobile
    margin-bottom: $u

a, h2, h3, h4, h5
  color: $black

section.home
  img
    width: 100%

%aspect-ratio
  position: relative
  width: 100%

  > *
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

.widescreen
  @extend %aspect-ratio
  padding-bottom: 9/16 * 100% !important

.standard-tv
  @extend %aspect-ratio
  padding-bottom: 3/4 * 100% !important

.gallery
  width: 100%

  img
    border-radius: $u / 2

  > *
    width: (1/3) * 100%
    display: block
    float: left
    padding: 0 $u $u 0

  img
    display: block
    width: 100%

table td, th
  padding: 0 $u / 4 0 0
  text-align: left

.contato
  table th::after
    content: ':'
