doctype XML
rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" 
    channel
        title= @data["titulo"]
        link= @data["site"]
        language= @data["idioma"]
        copyright= @data["autor"]
        itunes:subtitle= @data["resumo"]
        itunes:author= @data["autor"]
        itunes:summary= @data["resumo"]
        description= @data["descrição"]
        - for owner in @data["contato"] 
            itunes:owner
                itunes:name= owner["nome"]
                itunes:email= owner["e-mail"]
        
        itunes:image= @data["logo"]
        - for category in @data["categorias"]
            itunes:category{text=category["nome"]}
                - for subcategory in category["subcategorias"]
                    itunes:category{text=subcategory["nome"]}
        - @google_storage_address = "https://console.developers.google.com/m/cloudstorage/b/dandara-terra/o/com-licenca-poetica"
        - @data["episódios"].each_with_index do |episode, index|
            item
                - @folder = "#{@google_storage_address}/#{index+1}-#{episode["título"].parameterize}"
                title= episode["título"]
                itunes:author= @data["autor"]
                itunes:subtitle= episode["subtítulo"]
                itunes:summary
                    <![CDATA[#{markdown episode["descrição"]}#{markdown @data["informações"]}]]>
                itunes:image href="#{@folder}/art.png"
                enclosure length="#{episode["bytes"]}" type="audio/mpeg" url="#{@folder}/audio.mp3"
                pubdate= episode["data"].to_time.rfc2822
                itunes:duration= episode["duração"]