doctype XML
rss version="2.0" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" 
    channel
        title Com Licença Poética
        link "http://dandaraterra.com.br" do
        language pt-br
        copyright © 2015 Pedro Maciel e Dandara Terra
        itunes:subtitle Poesias lidas ao som de trilhas sonoras originais
        itunes:author Dandara Terra e Pedro Maciel
        itunes:summary Toda semana uma poesia é lida ao som de uma trilha sonora feita por nós mesmos
        description Toda semana uma poesia é lida ao som de uma trilha sonora feita por nós mesmos
        itunes:owner
            itunes:name Dandara Terra e Pedro Maciel
            itunes:email contato@dandaraterra.com.br
        itunes:image href="https://storage.googleapis.com/dandara-terra/com-licenca-poetica/1-com-licenc%CC%A7a-poetica.png"
        itunes:category text="Art" 
        itunes:category text="Poetry" 

        item
            title Com licença poética
            itunes:author Nome do autor
            itunes:subtitle O básico dos temperos
            itunes:summary
                erb:
                    <![CDATA[Esta semana falaremos sobre <a href="https://itunes/apple.com/us/book/antique-trader-salt-pepper/id429691295?mt=11">os moedores de sal e pimenta</a>, comparando as porções despejadas, como eles são feitos e os modelos disponíveis. Venha se deliciar com esta festa de sabores!]]>
            itunes:image href="http://example.com/podcasts/everything/Tudosobretudo/Episodio1.jpg" /
            enclosure length="8727310" type="audio/x-m4a" url="http://example.com/podcasts/everything/TudosobretudoEpisodio3.m4a" /
            guid https://storage.googleapis.com/dandara-terra/com-licenca-poetica/1-com-licenca-poetica.mp3
            pubdate Wed, 15 Jun 2014 19:00:00 GMT
            itunes:duration 7:04
        item
            title Chaves e mais chaves
            itunes:author nome
            itunes:subtitle É muito divertido comparar os diferentes tipos de chaves dinamométricas!
            itunes:summary Esta semana falaremos sobre as chaves dinamométricas que utilizam o sistema métrico e as que utilizam o sistema inglês. Qual é a melhor? Você precisa mesmo dos dois tipos? Veja aqui respostas para as suas dúvidas.
            itunes:image href="http://example.com/podcasts/everything/Tudosobretudo/Episodio2.jpg" /
            enclosure length="5650889" type="audio/mpeg" url="https://storage.googleapis.com/dandara-terra/com-licenca-poetica/1-com-licenca-poetica.mp3" /
            guid http://example.com/podcasts/archive/aae20140608.mp3
            pubdate Wed, 8 Jun 2014 19:00:00 GMT
            itunes:duration 4:34
        item
            title
                | Tinto, branco e rosé
                itunes:author Vários
                itunes:subtitle Tinto e branco. E agora rosé
                itunes:summary Esta semana falaremos sobre como o vinho rosé está em alta. E não é só na França.
                itunes:image href="http://example.com/podcasts/everything/Tudosobretudo/Episodio3.jpg" /
                enclosure length="498537" type="audio/mpeg" url="http://example.com/podcasts/everything/TudosobretudoEpisodio1.mp3" /
                guid http://example.com/podcasts/archive/aae20140601.mp3
                pubdate Wed, 1 Jun 2014 19:00:00 GMT
                itunes:duration 3:59
