!!!
%html
  %head
    %title Dandara Terra | Atriz
    {% css app %}
    {% js app %}

    %meta{name: 'viewport', content: 'width=device-width'}
  %body
    .left-column
      %nav
        %h1.logo
          %a{:href => "#home"}
            {% include logo-dandara-terra.svg %}
            Dandara Terra

        {% for link in site.links %}
        %a{href: "#\{{ link | parameterize }}"} {{ link }}
        {% endfor %}

    %main.right-column
      {{ content }}